.bodycss{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, #D1FDFF 0%, #FDDB92 100%);
    
}

.background1{
    background: linear-gradient(180deg #FDDB92, #D1FDFF 75%);
}







